<div class="backgroundFill">
  <div class='container' id='sites'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1 recs-tab'>
        <tabset>
        <!-- Universal Tab -->
        <tab heading='BeautyStash Recommends' select='addSiteModeFn(false)'>
        </tab>
        <!-- Personal Tab -->
        <tab heading='Your Friends Recommend' select='addSiteModeFn(true)'>
        <div class='col-md-12 wrapper'>
          <ul class='list'>
            <h2>Recommended to You by Friends</h2>
            <li class='col-sm-12 product-item' ng-repeat='personalRec in personalRecs'>
              <img class='productImage col-sm-3' ng-src="photos/sample1.jpg">
              <div class='col-sm-8 product-content'>
                <div class='feedHeading'>{{personalRec.brand_name}}</div>
                <div class='feedSubheading1'>{{personalRec.product_name}}</div><br>
                <div class='feedSubheading3'>{{personalRec.product_category}}</div>
                <div>{{personalRec.product_size}}</div>
                <div>{{personalRec.product_status}}</div><br>
                <div>{{personalRec.product_color}}</div>
                <div>Message: {{personalRec.message}}</div>
              </div>
              <div class='col-sm-1'>
                <button class='btn edit' ng-click='addProduct(recommendation)'>Add to wishlist</button>
              </div>
            </li>
          </ul>
        </div>
        </tab>
        </tabset>
        <!-- Universal tab -->
        <div ng-hide='addSiteMode' class='col-md-12 wrapper'>
          <ul class='list'>
            <h2>Recommended for You</h2>
            <li class='col-sm-12 product-item' ng-repeat='universalRec in universalRecs'>
              <img class='productImage col-sm-3' ng-src="{{universalRec.product_image_url}}">
              <div class='col-sm-8 product-content'>
                <div class='feedHeading'>{{universalRec.brand_name}}</div>
                <div class='feedSubheading1'>{{universalRec.product_name}}</div><br>
                <div class='feedSubheading2'>{{universalRec.product_description}}</div><br>
                <div class='feedSubheading3'>{{universalRec.product_category}}</div>
              </div>
              <div class='col-sm-1'>
                <button class='btn edit' ng-click='addProduct(universalRec)'>Add to wishlist</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
