<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{product.product_brand}}</h4>
      </div>
      <div class="modal-body">
        <p>Testing</p>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="product.product_status">
        </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="product.product_size">
      </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Color</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="product.product_color">
      </div>
      <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="product.product_notes">
      </div>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
