<div class='container'>
    <tabset>
        <tab heading="Search" select='addProductModeFn(false)'>
        </tab>
        <tab heading="Add Product to Wishlist" select='addProductModeFn(true)'>
            <input type='text' ng-model='newProduct.brand_name' placeholder='Brand name'/>
            <input type='text' ng-model='newProduct.product_name' placeholder='Product name'/>
            <label for='category'>Category</label>
            <select class='productSelect' name='category' ng-model='newProduct.product_category'>
                <option  value='Makeup'>Makeup</option>
                <option value='Skin Care'>Skin Care</option>
                <option value='Hair'>Hair</option>
                <option value='Bath and Body'>Bath and Body</option>
                <option value='Fragrance'>Fragrance</option>
                <option value='Tools|Brushes'>Tools|Brushes</option>
            </select><br>
            <label for='size'>Size</label>
            <select class='productSelect' name='size' ng-model='newProduct.product_size'>
                <option value='Full'>Full</option>
                <option value='Travel'>Travel</option>
            </select>
            <label for='status'>Status</label>
            <select class='productSelect' name='status' ng-model='newProduct.product_status'>
                <option value='Wishlist'>Wishlist</option>
            </select><br>
            <label>Notes</label><br>
                <input ng-model='newProduct.product_notes'></input><br>
            <label for='notes'>Color:</label><br>
            <input ng-model='newProduct.product_color'></input><br>
            <button type='submit' ng-click='addProduct(newProduct)'>Save Product</button>
        </tab>
    </tabset>
    <!-- Search tab scoped to product list -->
    <input ng-hide='addProductMode' type='text' ng-model="filter" placeholder='Browser by keywords'/>
    <h2>myStash</h2>
    <ul>
        <li ng-repeat="product in products | wishlistFilter | filter : filter">
            <span class='product-brand'> {{product.brand_name}}</span>
            <span class='product-name'> {{product.product_name}}</span>
            <span>{{product.product_size}}</span>
            <span>{{product.product_status}}</span>
            <span>{{product.product_notes}}</span>
            <span>{{product.product_color}}</span>
            <span>{{product.product_category}}</span>
            <button ng-click='editModeFn(product)'>Edit</button>
            <button ng-click='deleteProduct(product)'>x</button>
    </ul>
