<div class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Selected Product</h4>
            </div>
            <div class='row'>
                <div class='col-md-10 modal-contents'>
                    <div class="form-group col-sm-4">
                        <label for="Status" class="control-label">Status</label><br>
                            <select class='productSelect' name='status' ng-model="product.product_status">
                                <option value='Own'>Currently Own</option>
                                <option value='Finished'>Finished</option>
                                <option value='Wishlist'>Wishlist</option>
                            </select><br>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="Size" class="control-label">Size</label><br>
                            <select class='productSelect' name='size' ng-model="product.product_size">
                                <option value='Full'>Full</option>
                                <option value='Travel'>Travel</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-sm-4 left-margin">
                    <label for="Color" class="control-label">Color</label><br>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="product.product_color">
                        </div>
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-md-8 left-margin">
                    <label for="Notes" class="control-label">Notes</label><br>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" rows='5' ng-model="product.product_notes"></textarea>
                        </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
        </div>
    </div>
</div>
