<div class="backgroundFill">
    <div class='container' id='wishlist'>
        <div class='row-fluid'>
            <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-3 side-bar'>
                        <tabset>
                        <!-- Search Tab -->
                        <tab heading='Search' select='addProductModeFn(false)'>
                        </tab>
                        <!-- Add Product Tab -->
                        <tab heading='Add to Wishlist' select='addProductModeFn(true)'>
                        <form novalidate class='simple-form' name='myForm'>
                            <div class='row'>
                                <div class='searchBoxes col-sm-12 form-group' ng-form>
                                    <label class='control-label' for='Brand'>Brand</label>
                                    <input type='text' ng-model='newProduct.brand_name' name='brand' class='form-control brand-box' placeholder='Chanel, Nars, Clinque...' required/>
                                    <label class='control-label' for='email'>Product</label>
                                    <input type='text' ng-model='newProduct.product_name' name='product' class='form-control product-box' placeholder='Vitalumiere, Blush, Cleansing Balm...' required/>
                                    <small class='stash-error' ng-show='myForm.$invalid'>Missing brand and/or product name</small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='searchBoxes col-sm-5 form-group'>
                                    <label for='category'>Category</label><br>
                                    <select class='productSelect' name='category' ng-model='newProduct.product_category'>
                                        <option  value='Makeup'>Makeup</option>
                                        <option value='Skin Care'>Skin Care</option>
                                        <option value='Hair'>Hair</option>
                                        <option value='Bath and Body'>Bath and Body</option>
                                        <option value='Fragrance'>Fragrance</option>
                                        <option value='Tools|Brushes'>Tools|Brushes</option>
                                    </select>
                                </div>
                                <div class='searchBoxes col-sm-4 col-sm-offset-1 form-group'>
                                    <label for='size'>Size</label><br>
                                    <select class='productSelect' name='size' ng-model='newProduct.product_size'>
                                        <option value='Full'>Full</option>
                                        <option value='Travel'>Travel</option>
                                    </select>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='searchBoxes col-sm-5 form-group'>
                                    <label for='status'>Status</label><br>
                                    <select class='productSelect' name='status' ng-model='newProduct.product_status'>
                                        <option value='Wishlist'>Wishlist</option>
                                    </select><br>
                                </div>
                                <div class='searchBoxes col-sm-5 col-sm-offset-1 form-group'>
                                    <label>Color</label><br>
                                    <input type='text' class='form-control' ng-model='newProduct.product_color'/>
                                </div>
                                <div class='searchBoxes col-sm-12 form-group'>
                                    <label>Notes</label><br>
                                    <textarea rows='3' type='text' class='form-control' ng-model='newProduct.product_notes'></textarea>
                                </div>
                            </div>
                            <div class='searchBoxes form-group col-sm-1 col-sm-offset-7 product-button'>
                                <button class='btn' type='submit' ng-click='addProduct(newProduct)'>Save Product</button>
                            </div>
                        </form>
                        </tab>
                        </tabset>
                        <!-- Search tab scoped to product list -->
                        <div class='col-md-12 search-box'>
                            <input class='form-control' ng-hide='addProductMode' type='text' ng-model='filter' placeholder='Browse your wishlist'/>
                        </div>
                    </div>
                    <div class='col-md-9 product-list'>
                        <div class='col-md-12 wrapper'>
                            <ul class='list'>
                                <h2>Wishlist</h2>
                                <li class='col-sm-12 product-item' ng-repeat='product in products | wishlistFilter | filter : filter'>
                                    <div class='row'>
                                        <img class='productImage col-sm-3' src="photos/sample1.jpg">
                                        <div class='col-sm-8 product-content'>
                                            <div class='product-brand'> {{product.brand_name}}</div>
                                            <span class='product-name'> {{product.product_name}}</span><br>
                                            <span>Category: {{product.product_category}}</span>
                                            <span>Size: {{product.product_size}}</span>
                                            <span>Status: {{product.product_status}}</span><br>
                                            <span>Color: {{product.product_color}}</span>
                                            <span>Notes: {{product.product_notes}}</span>
                                        </div>
                                        <div class='col-sm-1'>
                                            <button class='btn edit' ng-click='editProductModal(product)'>Edit</button>
                                            <button class='btn edit-x' ng-click='deleteProductModal(product)'>x</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
