<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h1>Following</h1>
      <div ng-repeat='user in profileFollowing'>
        <div class='col-md-10 following'>
          <!-- <img class='userProfilePic' ng-src="{{user.profilePic}}" alt="Description"/> -->
          <div class='user-name' ui-sref="user({userId: {{user.userid}}})">{{user.name_first}} {{user.name_last}}</div>
        </div>
      </div>
    </div>
    <div class='col-md-10'>
  <h1>Followers</h1>
  <div ng-repeat='user in profileFollowers'>
    <div class='col-md-10 follower'>
      <!-- <img class='userProfilePic' ng-src="{{user.profilePic}}" alt="Description"/> -->
      <div class='user-name' ui-sref="user({userId: {{user.userid}}})">{{user.name_first}} {{user.name_last}}</div>
    </div>
  </div>

</div>

<!-- <div class='user-name' ui-sref="user({ userId: {{user_id}} })">{{user.name_first}} {{user.name_last}}</div> -->
