<div class='container'>
  <div class='row'>
    <div class='col-md-5'>
      <h1>Following</h1>
      <div ng-repeat='friend in friends track by $index | finishedFilter'>
        <div class='friend'>
          <img class='friendPhoto' ng-src="{{friend.profilePic}}" alt="Description"/>
          <span class='friend-name'>{{friend.name_first}} {{friend.name_last}}</span>
        </div>
      </div>
    </div>
    <div class='col-md-5 col-md-offset-2'>
  <h1>Followers</h1>
  <div ng-repeat='friend in friends track by $index'>
    <div class='friend'>
      <img class='friendPhoto' ng-src="{{friend.profilePic}}" alt="Description"/>
      <span class='friend-name'>{{friend.name_first}} {{friend.name_last}}</span>
    </div>
  </div>

</div>



