<div class='profileMainPhoto'>
  <img class='profilePhoto' ng-src="{{user.photo}}" alt="Description"/>
  <div class='profileInfo'>
    <span>{{user.name_first}} {{user.name_last}} </span>
    <h5> {{user.location}} | Member since {{user.created_at}}</h5>
    <!-- <button class='btn btn-block' ng-click='follow()' >Follow</button> -->
  </div>
</div>

<div class='dashboardTabs'>  
  <ul>
    <li class='dashboardTab' ng-repeat="tab in tabs">
      <button class='dashboardTabText' ui-sref-active="selectTab" ui-sref="profile.{{tab.path}}">{{tab.name}}</button>
    </li>
  </ul>
</div>

<div ui-view="subview"></div>
