<div class="backgroundFill">
  <div class='container' id='sites'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1 recs-tab'>
        <tabset>
        <!-- Universal Tab -->
        <tab heading='BeautyStash Recommends' select='addSiteModeFn(false)'>
        </tab>
        <!-- Personal Tab -->
        <tab heading='Your Friends Recommend' select='addSiteModeFn(true)'>
        <div class='col-md-12 wrapper'>
          <ul class='list'>
            <h2>Recommended to You by Friends</h2>
            <li class='col-sm-12 product-item' ng-repeat='i in personalRecs'>
                <div class='feedBox'>
                    <img class='feedItemImage' ng-src="{{i.product_image_url}}">
                    <img class='userProfilePic' ng-src="{{recommender.user_photo}}">
                    <div class='userAction'><span class='feedUserName' ng-click='viewUser(i.user_id)'>{{i.recommender_first}} {{i.recommender_last}} </span><span>recomends this {{i.type}}.</span></div>
                    <div class='timeLoc'><span am-time-ago="{{i}}.time_stamp"></span><span> | {{i.location}}</span></div>
                    <div class='feedComments'>{{i.comments}}</div>
                    <div class='col-sm-7 product-content'>
                        <div class='productHeading'>{{i.brand_name}}</div>
                        <div class='productSubheading1'>{{i.product_name}}</div>
                        <div class='productSubheading2'><span class='bold'>Category:</span> {{i.product_category}}</div>
                        <div class='productSubheading3'>
                            <span class='bold'>Size:</span><span class='spacing'> {{i.product_size}}</span>
                            <span class='bold'>Status:</span><span class='spacing'> {{i.product_status}}</span>
                            <span class='bold'>Color:</span><span class='spacing'> {{i.product_color}}</span>
                        </div>
                    </div>
                    <div class='col-sm-1'>
                      <button class='btn edit' ng-click='addProduct(recommendation)'>Add to wishlist</button>
                    </div>
                </div>
            </li>
          </ul>
        </div>
        </tab>
        </tabset>
        <!-- Universal tab -->
        <div ng-hide='addSiteMode' class='col-md-12 wrapper'>
          <ul class='list'>
            <h2>Recommended for You</h2>
            <li class='col-sm-12 product-item' ng-repeat='universalRec in universalRecs'>
              <img class='productImage col-sm-3' ng-src="{{universalRec.product_image_url}}">
              <div class='col-sm-8 product-content'>
                <div class='feedHeading'>{{universalRec.brand_name}}</div>
                <div class='feedSubheading1'>{{universalRec.product_name}}</div>
                <div class='feedSubheading2'>{{universalRec.product_description}}</div>
                <div class='feedSubheading3'>{{universalRec.product_category}}</div>
              </div>
              <div class='col-sm-1'>
                <button class='btn edit' ng-click='addProduct(universalRec)'>Add to wishlist</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
