*.log
*.DS_Store

#database file
application/app.db

#compiled python files
*.pyc

# server dependencies


# Dependency directorys
application/static/bower_components/

# config vars
.env

# production folders

