<div class='feed'>
    <div class='container'>
        <ul infinite-scroll='loadMore()' infinite-scroll-distance='2'>
            <li ng-repeat="i in items">
                <div class='feedItem'>
                    <!-- <img class='feedItemImage' src="photos/sample1.jpg"> -->
                    <span am-time-ago="{{i}}.time_stamp"></span>
                    <span style='height:200px;'>{{i}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- <div class='feed'>
    <div class='container'>
        <ul>
            <li class='feedItem' ng-repeat="i in items">
                <img class='feedItemImage' src="photos/sample1.jpg">
            </li>
        </ul>
    </div>
</div> -->
