/*Generic Specs*/

body {
    margin:0;
    padding:0;
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0px;
}

a {
    text-decoration: none;
}

button:focus {
    outline:0 !important;
}

.nav {
    background-color: #000000;
}

.search {
    float: left;
    width: 500px;
    padding-left: 25px;
    padding-top: 10px;
}

/*No Auth Opening Page*/

.homeImage {
    background-image: url("/photos/homePhoto.jpg");
    background-size: cover;
    height: 600px;
    opacity: 0.8;
}

.navName {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 500%;
    letter-spacing: 2px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer; 
}

.navButton {
    color: white;
    border-radius: 5px;
    font-size: 130%;
    margin-right: 30px;
    margin-top: 40px;
    float: right;
    padding:10px;
    background-color: transparent;
    border:2px solid white;
    cursor: pointer;
}

.navButton:hover {
    color: black;
    background-color: white;
}

.searchFocal {
    width: 500px;
    display: block;
    margin-left: 460px;
    margin-right: auto;
    padding-top: 375px;
}

#search-box {
    width: 90%;
}

/*No Auth Scroll Bar*/

.navNameScroll {
    color: white;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    float: left;
    padding-left:25px;
    font-size: 250%;
    cursor: pointer;
}

.navButtonScroll {
    color: white;
    border-radius: 5px;
    font-size: 130%;
    margin-right: 25px;
    margin-top: 5px;
    float: right;
    padding:7px;
    background-color: transparent;
    cursor: pointer;

}

.navButtonScroll:hover {
    color: black;
    background-color: white;
}

/*Auth nav bar*/

.homePostAuth {
    color: white;
    background-size: cover;
    background-image: url("/photos/homePhoto.jpg");
    height: 80px;
}

.navButtonScrollAuth {
    border-radius: 5px;
    font-size: 150%;
    margin-right: 25px;
    margin-top: 25px;
    float: right;
    cursor: pointer;
}

#nav-star {
    font-size: 175%;
}

.searchAuth {
    margin-top: 10px;
}

.nameButton {
    background-color: transparent;
    border: transparent;
}
.dropdown:hover .dropdown-menu {
    display: block;
}


/*Home feed*/

.feed {
    padding-top: 100px;
}

.feedItem {
    height: 120px;
    border-bottom: 1px solid gray;
}

/*Stash and Profile*/

.profileMainPhoto {
    background-size: cover;
    background-image: url("/photos/backgroundProfilePhoto.jpg");
    background-position: -70px;
    height: 300px;
}

.profilePhoto {
    float: left;
    height: 250px;
    width: 250px;
    margin-top: 100px;
    margin-left: 150px;
    padding:3px;
    border:1px solid #E8E8E8;
    background-color:white;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px
}

.profileInfo {
    font-family: 'Abril Fatface', cursive;
    color: #eee;
    text-shadow: 0 0 5px rgba(0,0,0,1);
    float: left;
    margin-top: 200px;
    margin-left: 30px;
}

.profileInfo h5 {
    font-size: 16px;
}

.dashboardTabs {
    margin-top: 20px;
    padding-left: 375px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 1px solid #E8E8E8;
    font-size: 12px;
}

.dashboardTab {
    display: inline;
}

.dashboardTabText {
    color: black;
    display: inline;
    font-size: 120%;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: transparent;
    border: transparent;
}

.selectTab {
    border-bottom: 5px solid #E8E8E8;
}

/* Login */

.container {
    margin-top: 85px;
    margin-bottom: 50px;
}

.content {
    border: 1px solid #bebebe;
    border-radius: 7px;
    padding-bottom: 20px;
}

.header{
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 30px;
}

.oauth {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 25px;
}

#login {
    background-color: #FA5A47;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    color: #fff;
    margin-top: 15px;
}

.btn-block {
    margin-bottom: 15px;
    font-size: 16px;
}

.form-input-box {
    margin-bottom: 5px;
}

#link {
    text-decoration: none;
    color: #606d9f;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}

.error {
    font-size:15px;
}

/* Profile Stash and Wishlist */

.searchAddButton {
    border-radius: 20px;
}

/*About Page*/

.teamMemberProfile {
    float: left;
    height: 250px;
    width: 250px;
    margin-top: 100px;
    margin-left: 150px;
    padding:3px;
    border:1px solid #E8E8E8;
    background-color:white;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px
}
