<div class='profileMainPhoto'>
  <img class='profilePhoto' ng-src="{{user.photo}}" alt="Description"/>
  <div class='profileInfo'>
    <span>{{user.name_first}} {{user.name_last}} </span>
    <h5> {{location}} | Member since {{membershipYear}}</h5>
    <button class='followButton' type='submit' ng-click='follow(user)' ng-show='!following'>Follow</button>
    <button class='followButton' type='submit' ng-click='unfollow(user)' ng-show='following'>Unfollow</button>
  </div>
</div>


<div class='dashboardTabs'>  
  <ul>
    <li class='dashboardTab' ng-repeat="tab in tabs">
      <button class='dashboardTabText' ui-sref-active="selectTab" ui-sref="user.{{tab.path}}">{{tab.name}}</button>
    </li>
  </ul>
</div>

<div ui-view="subview"></div>
