<div class='container'>
    <div class='row'>
        <div class='col-md-3 side-bar'>
            <tabset>
                <!-- Search Tab -->
                <tab heading='Search' select='addProductModeFn(false)' class='tabs'>
                </tab>
            </tabset>
            <!-- Search tab scoped to product list -->
            <div class='col-md-12 search-box'>
                <input ng-hide='addProductMode' type='text' class='form-control' ng-model='filter' placeholder='Browse products'/>
            </div>
        </div>

        <!-- Products Lists -->
        <div class='col-md-6 col-md-offset-1 product-list'>
            <h3>My Products</h3>
            <ul>
                <li ng-repeat='product in products | myStashFilter | filter : filter'>
                    <span class='product-brand'> {{product.brand_name}}</span>
                    <span class='product-name'> {{product.product_name}}</span>
                    <span>{{product.product_size}}</span>
                    <span>{{product.product_status}}</span>
                    <span>{{product.product_notes}}</span>
                    <span>{{product.product_color}}</span>
                    <span>{{product.product_category}}</span>
                    <button ng-click='editProductModal(product)'>Edit</button>
                    <button ng-click='deleteProductModal(product)'>x</button>
            </ul>
            <div class='finished'>
                <h3>Finished</h3>
                <ul>
                    <li ng-repeat='product in products | finishedFilter | filter : filter'>
                        <span class='product-brand'> {{product.brand_name}}</span>
                        <span class='product-name'> {{product.product_name}}</span>
                        <span>{{product.product_size}}</span>
                        <span>{{product.product_status}}</span>
                        <span>{{product.product_notes}}</span>
                        <span>{{product.product_color}}</span>
                        <span>{{product.product_category}}</span>
                        <button ng-click='editProductModal(product)'>Edit</button>
                        <button ng-click='deleteProductModal(product)'>x</button>
                </ul>
            </div>
        </div>
    </div>
</div>
