<div class="backgroundFill">
  <div class='container' id='sites'>
    <div class='row-fluid'>
      <div class='col-md-12'>
        <div class='row'>
          <div class='col-md-3 sites-bar'>
            <tabset>
            <!-- Search Tab -->
            <tab heading='Search' select='addSiteModeFn(false)'>
            </tab>
            </tabset>
            <!-- Search tab scoped to sites list -->
            <div class='col-sm-12 search-box'>
              <input ng-hide='addSiteMode' type='text' class='form-control form-input-box' ng-model='filter' placeholder='Browse blogs and articles'/>
            </div>
          </div>
          <!-- Sites Lists -->
          <div class='col-md-9 product-list'>
            <div class='col-md-12 wrapper'>
              <ul class='list'>
                <h2>Reads</h2>
                <li class='col-sm-12' id= 'siteItem' ng-repeat='site in sites'>
                  <div class='row'>
                    <img class='blogItemImage col-sm-4' ng-src="{{site.image}}">
                    <div class='site-content col-sm-8'>
                      <a class='site-link' ng-href='{{site.url}}'>{{ site.article_name || site.site_name}}</a>
                      <div class='site-description'>{{site.description}}</div>
                      <div class='site-name'>{{site.site_name}}</div>
                      <div class='site-comments'>Comments: {{site.comment}}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
