<div class='container-fluid homeImage-auth'>
  <nav class='navBackground nav navbar-fixed-top'>
    <span class='navNameScroll' ui-sref='home'>BeautyStash</span>
    <span class='navButtonScroll' ui-sref='signin'>Log In</span>
    <span class='navButtonScroll' ui-sref='signup'>Sign Up</span>
    <span class='navButtonScroll' ui-sref='about'>About</span>
  </nav>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 content'>
      <div class='text-center header'><h1>Sign Up</h1></div>
      <form name='signupForm' novalidate>
        <div class='col-md-12'>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='col-sm-6 first-name-box'>
                <input type='text' ng-model='user.name_first' placeholder='First Name' class="form-control form-input-box" required />
              </div>
              <div class='col-sm-6 last-name-box'>
                <input type='text' ng-model='user.name_last' placeholder='Last Name' class="form-control form-input-box" required />
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <input id='email' type='email' ng-model='user.email' placeholder='Email address' class="form-control form-input-box"required />
              <input type='text' ng-model='user.username' placeholder='Username' class="form-control form-input-box" required />
              <input type='password' ng-model='user.password' placeholder='Password' class="form-control form-input-box" required />
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12 contents'>
              <div class='col-sm-8'>
                <label for='birthday'>Birthday</label><br>
                <input type='date' name='birthday' ng-model='user.birthday' class="form-control form-input-box" />
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12 contents'>
              <div class='col-sm-5'>
                <label for='city'>City</label><br>
                <input type='text' name='city' ng-model='user.city' placeholder='City' class="form-control form-input-box" required/>
              </div>
              <div class='col-sm-5'>
                <label for='state'>State/Province</label><br>
                <input name='state' type='text' ng-model='user.state' placeholder='State' class="form-control form-input-box" required/>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12 contents'>
              <div class='col-sm-5'>
                <label for='skin-type'>Skin Type</label><br>
                <select class='productSelect' name='skin-type' ng-model='user.skin_type'>
                    <option value='Dry'>Dry</option>
                    <option value='Normal'>Normal</option>
                    <option value='Combination'>Combination</option>
                    <option value='Oily'>Oily</option>
                </select>
              </div>
              <div class='col-sm-5'>
                <label for='skin-tone'>Skin Tone</label><br>
                <select class='productSelect' name='skin-tone' ng-model='user.skin_tone'>
                    <option value='Fair'>Fair</option>
                    <option value='Light'>Light</option>
                    <option value='Medium'>Medium</option>
                    <option value='Olive'>Olive</option>
                    <option value='Deep'>Deep</option>
                    <option value='Dark'>Dark</option>
                </select>
              </div>
<!--               <div class='col-sm-4'>
                <label for='eye-color'>Eye Color</label><br>
                <select class='productSelect' name='eye-color' ng-model='user.eye_color'>
                    <option value='Blue'>Blue</option>
                    <option value='Brown'>Brown</option>
                    <option value='Green'>Green</option>
                    <option value='Hazel'>Hazel</option>
                    <option value='Gray'>Gray</option>
                </select>
              </div> -->
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-4 col-sm-offset-4'><button ng-click='signup()' class="btn btn-block text-center" type="button" id='login'>Sign up</button>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-6 col-sm-offset-3 error' ng-show='error'>{{error}}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
