<div id='signup'>
  <div class='content'>
    <h1>Sign Up</h1>
    <form name='signupForm' ng-submit='signup()' novalidate>
      <input type='text' ng-model='user.firstName' placeholder='First Name' required />
      <input type='text' ng-model='user.lastName' placeholder='Last Name' required />
      <input type='text' ng-model='user.username' placeholder='Email' required />
      <input type='password' ng-model='user.password' placeholder='Password' required />
      <button>Sign up</button>
      <div class='spinner'></div>
    </form>
    <a ui-sref='signin'>Sign in</a>
    <div class='error' ng-show='error'>{{error}}</div>
  </div>
</div>
